<!-- news/templates/news/home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newspaper</title>
</head>
<body>
    <h1>Latest News</h1>
    {% for post in posts %}
        <div style="border:1px solid gray; padding:10px; margin:10px 0;">
            <h2>{{ post.title }}</h2>
            <p><strong>By:</strong> {{ post.author }} | <em>{{ post.published_date }}</em></p>
            <p>{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" width= "150" height= "150" >
            {% else %}
                <p> No Image available</p>
            {% endif %}
        </div>
    {% endfor %}
</body>
</html>
